<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>FreshFinish</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>


<header>
    <h2>Welcome to FreshFinish</h2>
</header>

<body>

<div class="firststyle">

<h2>Start with following</h2>
<div class="follow-table-index">
    <div class="follow-row-index">
        <div class="follow-cell-index"><a href="/login">Log in</a></div>
        <div class="follow-cell-index"><a href="/signup">Sign up</a></div>
    </div>
</div>

</div>

</body>

<footer>
    <h3>All rights reserved @FreshFinish</h3>
</footer>


</html>
