<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SignUp</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<header>
    <h2>Welcome to FreshFinish</h2>
</header>

<body>

	<div class="secondstyle">
    <h2>Sign up here</h2>
    
    <form action="/signup" method="post" th:object="${user}">
        <input type="text" name="username" placeholder="Enter Username" required>
        <input type="email" name="email" placeholder="Enter your Email" required>
        <input type="text" name="phone" placeholder="Enter your Phone Number" required>
        <input type="password" name="password" placeholder="Set your Password" required>
        <select name="role" required>
		    <option value="CUSTOMER" selected>Customer</option>
		    <option value="SELLER">Seller</option>
		</select>
        
        <button type="submit">Submit</button>
    </form>
    <p>Already registered login here <a href="/login">login</a></p>
    
    </div>
</body>

<footer>
    <h3>All rights reserved @FreshFinish</h3>
</footer>
</html>
